@model IEnumerable<StageProjet2.Models.Facture>


<br />
<br />

<h1 class=" text-info text-center" >Liste des factures</h1>

<hr />

@*<p>
    <a class=" btn btn-outline-primary my-4" asp-action="Create">Ajouter nouvelle facture</a>
</p>*@




<div class="container">

    <div class="row justify-content-end">

        <div class="col-lg-4 col-md-6 mt-4">
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">   </label>
        <input type="text" name="SearchString" placeholder="nom" />
                    @*<input type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0"/> *@
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0"> Search <i class="bi bi-search"></i></button>

    </div>
</form>
</div>
</div>
</div>

<hr />

@if (!Model.Any())
{
    <p> Factures = 0</p>

}
else
{
    <table class="  table table-info ">
        <thead>
            <tr class=" bg-primary text-white">
                <th>
                    @Html.DisplayNameFor(model => model.Adherent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AncienValeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NouvelleValeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FactureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Etat)
                </th>
                <th>     </th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Compteur.Libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AncienValeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NouvelleValeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FactureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prix)
                    </td>

                    @if (item.Etat == "Payee")
                    {
                        <td>
                            <span class="badge rounded-pill bg-success">@Html.DisplayFor(modelItem => item.Etat)  <i class="bi bi-check-circle"></i> </span>

                        </td>

                    }
                    else
                    {
                        <td>
                            <span class="badge rounded-pill bg-danger">@Html.DisplayFor(modelItem => item.Etat)  <i class="bi bi-x-circle"></i> </span>

                        </td>

                    }

                    @if (item.Etat == "Payee")
                    {
                        <td></td>
                        <td></td>


                    }
                    else
                    {
                        <td>
                            <a asp-action="Edit1" asp-route-id="@item.Id" class=" btn btn-outline-info">Payee facture</a>

                        </td>

                        <td>
                            <a asp-action="GeneratePDf" asp-route-id="@item.Id" class=" btn btn-outline-danger"> facture PDF <i class="bi bi-file-earmark-pdf"></i></a>

                        </td>
                        
                    }


                  
                </tr>
            }
        </tbody>

    </table>
    }
